[Unit]
    Description=Simple hhullen service

[Service]
    Type=simple
    ExecStart=/usr/bin/java -jar /usr/bin/app.jar /var/log/hhullen-log.txt "Service is working!"
    Restart=on-failure
    TimeoutStartSec=5
    TimeoutStopSec=5
    StartLimitIntervalSec=30
    StartLimitBurst=5

[Install]
    WantedBy=multiuser.target
