[Unit]
    Description=Simple hhullen service

[Service]
    Type=forking
    ExecStart=/usr/bin/java -jar /usr/bin/app.jar /var/log/hhullen-log.txt "Service is working!"
    Restart=on-failure
    TimeoutStartSec=4
    TimeoutStopSec=4
    WatchdogSec=10
    KillMode=mixed

[Install]
    WantedBy=multiuser.target
